$bg-gray: #f6f6f6;
.site-blocks-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background: #f9f9f9;
	position: relative;
	overflow: hidden;
	z-index: 9;
	&, .row {
		min-height: 600px;
		height: calc(100vh - 174px);
	}
	&.inner-page {
		&, .row {
			min-height: 400px;
			height: 500px;
		}
	}
	h2 {
		font-size: 14px;
		font-weight: normal;
		color: $black;
		letter-spacing: .2em;
		text-transform: uppercase;
	}
	h1 {
		font-size: 50px;
		font-weight: 900;
		color: $black;
		margin-bottom: 30px;
		text-transform: uppercase;	
		@include media-breakpoint-up(md) {
			font-size: 70px;	
		}
	}
	p {
		color: lighten($black, 20%);
		font-size: 20px;
		line-height: 35px;
	}
	.intro-text {
		font-size: 16px;
		line-height: 1.5;
	}

	.site-block-cover-content {
		margin-top: 20%;
		text-align: center;
		@include media-breakpoint-up(md) {
			margin-top: 50%;	

		}
	}

	&.inner-page {
		.site-block-cover-content {
			margin-top: 20%;
			text-align: center;
			@include media-breakpoint-up(md) {
				margin-top: 30%;	

			}
		}
		
	}

}

.site-blocks-1 {
	border-bottom: 1px solid $gray-4;
	.divider {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			height: 100%;
			width: 1px;
			right: 10px;
			background: $gray-4;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	.icon {
		span {
			position: relative;
			color: $primary;
			top: -10px;
			font-size: 50px;
			display: inline-block;
		}
	}
	.text {
		h2 {
			color: $gray-1;
			letter-spacing: .05em;
			font-size: 18px;
		}	
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.site-blocks-2 {
	.block-2-item {
		display: block;
		position: relative;
		&:before {
			z-index: 1;
			content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
		}
		.image {
			position: relative;
			margin-bottom: 0;
			overflow: hidden;

			img {
				margin-bottom: 0;
				transition: .3s all ease-in-out;
			}
		}
		.text {
			z-index: 2;
			bottom: 0;
			padding-left: 20px;
			position: absolute;
			width: 100%;
			> span, h3 {
				color: $white;
			}
			> span {
				font-size: 12px;
				letter-spacing: .1em;
				font-weight: 900;
			}
			h3 {
				font-size: 40px;
			} 
		}
		&:hover {
			.image {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.block-3 {
	.owl-stage {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.owl-nav {
		position: relative;
		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		.owl-prev, .owl-next {
			position: relative;
			display: inline-block;
			padding: 20px;
			font-size: 32px;
			color: $gray-2;
			&:hover {
				color: $gray-1;
			}
			&.disabled {
				opacity: .2;
			}
		}
	}
}

.block-4 {
	box-shadow: 0 0 30px -10px rgba(0,0,0,.1);
	background: $white;

	.block-4-text {
		h3 {
			font-size: 20px;
			margin-bottom: 0;
			a {
				text-decoration: none;
			}
		}
	}
}

.block-5 {
	ul {
		&, li {
			list-style: none;
			padding: 0;
			margin: 0;
			line-height: 1.5;
		}
		li {
			padding-left: 30px;
			position: relative;
			margin-bottom: 15px;
			color: $gray-1;
			&:before {
				top: 0;
				font-family: "icomoon";
				content: "";
				position: absolute;
				left: 0;
				font-size: 20px;
	
				line-height: 1;
				color: $primary;
			}
			&.address {
				&:before {
					content: "\e8b4";
				}
			}
			&.email {
				&:before {
					content: "\f0e0";
				}
			}
			&.phone {
				&:before {
					content: "\f095";
				}
			}
		}
	}
}

.block-6 {
	display: block;
	img {
		display: block;
	}
	h3 {
		font-size: 18px;
	}
	p {
		color: lighten($gray-2, 10%);
	}
}

.block-7 {
	.form-group {
		position: relative;
	}
	.form-control {
		padding-right: 96px;
	}
	.btn {
		position: absolute;
		
		width: 80px;
		// top: auto;
		// right: 3px;
		// bottom: 3px;
		top: 50%;
		transform: translateY(-50%);
		right: 3px;
	}
}

.block-8 {
	.post-meta {
		color: $gray-3;
	}
	.block-8-sep {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.site-blocks-table {
	overflow: auto;
	.product-thumbnail {
		width: 200px;
	}
	thead {
		th {
			padding: 30px;
			text-align: center;
			border-width: 1px!important;
			vertical-align: middle;
			color: $gray-900;
			font-size: 18px;
		}
	}
	td {
		padding: 20px;
		text-align: center;
		vertical-align: middle;
		color: $gray-900;
	}
	tbody {
		tr {
			&:first-child {
				td {
					border-top: 1px solid $primary!important;
				}
			}
		}
	}
}

.site-block-order-table {
	th {
		border-top: none!important;
		border-bottom-width: 1px!important;
	}
	td, th {
		color: $black;
	}
}

.site-block-top-search {
	position: relative;
	.icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	input {
		padding-left: 40px;
		transition: .3s all ease-in-out;
		&:focus, &:active {
			padding-left: 25px;
		}
	}
}

.site-block-27 {
	ul {
		&, li {
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
			margin-bottom: 4px;
			a,span {
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid #ccc;
			}
			&.active {
				a, span {
					background: $primary;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}

// slider range
#slider-range {
	height: 8px;
	.ui-slider-handle {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: none!important;
		background: $primary;
		&:focus, &:active {
			outline: none;
		}
	}
	.ui-slider-range {
		background-color: $primary;
	}
}

// Color selection
.color-item {
	.color {
		width: 14px;
		height: 14px;	
	}
} 

.block-16 {
	figure {
		position: relative;
		.play-button {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			width: 90px;
			height: 90px;
			background: $white;
			display: block;
			border-radius: 50%;
			border: none;
			// opacity: .5;
			&:hover {
				opacity: 1;
			}
			> span {
				position: absolute;
				left: 55%;
				top: 50%;
				transform: translate(-50%, -45%);
			}
		}
	}
}

.block-38 {
	.block-38-header {
		.block-38-heading {
			color: $black;
			margin: 0;
			font-weight: 300;
		}
		.block-38-subheading {
			color: lighten($black, 70%);
			margin: 0 0 20px 0;
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: .1em;
		}
		img {
			width: 120px;
			border-radius: 50%;
			margin-bottom: 20px;
		}
	}
}


.bag {
	position: relative;
	.number {
		position: absolute;
		top: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		line-height: 20px;
		color: $white;
		font-size: 12px;
		background: $primary;
		right: -10px;
	}
}

.search-wrap {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $white;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: .5s all ease;
	.container {
		position: relative;
		height: 100%;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
	.form-control {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		border: none;
		z-index: 3;
		font-size: 40px;
		@include media-breakpoint-down(md) {
			font-size: 20px;
		}
	}

	.search-close {
		z-index: 4;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		span {
			font-size: 30px;
		}
	}
}

.title-section {
	h2 {
		padding-left: 30px;
		border-left: 4px solid $primary;
		display: inline-block;
		color: $black;
	}
	&.text-center {
		h2 {
			border-left: none;
			position: relative;
			padding-left: 0px;
			padding-bottom: 20px;
			&:after {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 70px;
				height: 4px;
				background: $primary;
				content: "";
			}
		}
	}
}

.product-item {
	overflow: hidden;
	height: 100%;
	position: relative;
	.product-category {
		position: absolute;
		display: inline-block;
		padding: 10px 30px;
		background: $white;
		color: $black;
		z-index: 8;
		top: 60%;
		left: 50%;
		font-size: 20px;
		transform: translate(-50%, -50%);
		span {
			color: $gray-400;
			font-size: 12px;
		}
		&:hover {
			background: $black;
			color: $white;
			span {
				color: rgba($white, .5);
			}
		}
	}
	&.full-height {
		height: 100%!important;
		@include media-breakpoint-down(md) {
			height: 300px!important;
			margin-bottom: 30px;
		}
	}
	&.bg-gray {
		background: $bg-gray;
	}
	&.sm-height {
		height: 300px;
		padding: 40px;
	}
	&.md-height {
		height: 400px;
		padding: 40px;
	}
	img {
		left: 50%;
		top: 15%;
		transform: translateX(-50%);
		object-fit: cover;
		max-width: 300px;
		// bottom: 0;
		position: absolute;
	}
}

.item-entry {
	.product-item {
		margin-bottom: 30px;
		p {
			position: absolute;
			transform: translate(-50%, -50%);
			left: 50%;
			bottom: 0px;
			background: rgb(255, 255, 255);
			padding: 8px 5px;
			color: rgb(0, 0, 0);
			border-radius: 3px;
			font-weight: 500;
			box-shadow: 0 0 6px 0px #00000047;
		}
	}
	.item-title {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 0;
		a {
			color: lighten($black, 50%);
			&:hover {
				color: $black;
			}
		}
	}
	.item-price {
		color: $black;
		font-weight: bold;
		del {
			color: lighten($black, 70%);
		}
	}
}

.custom-border-bottom {
	border-bottom: 1px solid $bg-gray;
}
.custom-border-top {
	border-top: 1px solid $bg-gray;	
}

.height-auto {
	height: auto!important;
}